*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.topnav{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color: #000000;
    color: #ffffff;
    padding: 3px;
}
  
.topnav a {
    float:left;
    color:rgb(255, 253, 253);
    text-align: top;
    padding: 12px 40px 16px 40px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #ee1db3;
    color: rgb(231, 224, 224);
  }
  
.topnav a.active {
    background-color: #e10bcc;
    color: white;
  }
.topnav img{
    float: right;
    margin-left: 0px;
}
body{
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right top;
    height: 100%;
}
main{
    align-content: center;
    width: 520px;
    height: 150px;
    color: rgb(139, 14, 125);
    border:2px solid;
    border-radius: 10px;
    align-items: center;
}
.container{
    justify-content: center;
    display: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 200px;;
    margin:2px auto;
    color:chocolate;
}
form button{
    margin-left: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 60%;
    color: #000000;
    padding: 3px;
}
footer{

    margin: 2px auto;
    color: #f94c08;
    width: 70% 70%;
    overflow: hidden;
    margin: 10px auto 20px auto;
    text-align: center;
    position: absolute;
    right:0;
    margin-right: 20px;
}